<!-- Begin page content -->
<main class="py-4">
  <div class="container">
    <br>
    <br>
    <br>
      <div class="row text-center">
        <div class="col-md-4 py-4">
          <div class="card" style="width: 18rem;">
              <img width="400px" height="220px" src="assets/img/cricket.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Cricket</h5>
                <p class="card-text">Buy Cricket Merchandises From here..</p>
                <div class="text-center">
                <a href="#" class="btn btn-primary">Buy Products</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4  py-4">
            <div class="card" style="width: 18rem;">
                <img width="400px" height="220px" src="assets/img/football.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Football</h5>
                  <p class="card-text">Buy Football Merchandises From here..</p>
                  <div class="text-center">
                      <a href="#" class="btn btn-primary">Buy Products</a>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-4  py-4">
              <div class="card" style="width: 18rem;">
                  <img width="400px" height="220px" src="assets/img/wwe.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">WWE</h5>
                    <p class="card-text">Buy WWE Merchandises From here..</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Buy Products</a>
                    </div>
                  </div>
              </div>
            </div>
      </div>
      <hr>
    </div>
</main>